services:
  app:
    container_name: stealer-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /app
    environment:
      - TZ=UTC
    ports:
      - "8000:8000"
